<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Template">
    <meta name="author" content="Jared">
    <title>Template</title>
</head>
<body>
    <div id="wrapper">
        
        <div id="header" class="bg" style="border:1px solid black; margin:10px; text-align:center;">
            <h1>Template</h1>
        </div>

        <div id="nav" style="border:1px solid black; margin:10px; text-align:center;">
                    <a href="index.html">Home</a>
                    <a href=""> nav item 2</a>
                    <a href="">nav item 3 </a>
        </div>

        <div id="main-content" style="border:1px solid black; margin:10px;">

        </div>

        <div id="footer" class="bg">
            <a href="#header">Back to Top</a>
            <h3>&copy;J Whittaker | SE111.02 | 202340</h3>
            <a href="../index.html">To assignments</a>
        </div>
    </div>
</body>
</html>